# Maven / Java
target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# Build
build/
dist/

# Node
node_modules/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

# App config
application-local.properties

# Uploads (nếu không cần commit)
uploads/